<div class="card">
    <div class="card-body">
        <article>
            <a href="/dashboard"> &larr; Back to dashboard</a>
            <h2>
                Edit Post
            </h2>
            <form class="card">
                <div>
                    Blog Post Title
                    <br/>
                    <input name="post-title" type="text" value="{{post.title}}" style="width: 50%;"/>
                    <br/>
                    <br/>
                    Post Text
                    <br/>
                    <textarea name="post-text" style="width: 80%; height: 100px">{{post.post_text}}</textarea>
                </div>
                <div>
                    |
                    <a href="/post/{{post.id}}">Comments {{post.comments.length}}</a>
                </div>
                <button type="submit" class="btn-outline-success edit-post-form" style="width: 200px;">Save post</button>
                <button type="button" class="btn-outline-danger delete-post-btn" style="width: 200px;">Delete post</button>
            </form>
        </article>        
    </div>
</div>



<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>